
#chair{
    display: grid;
    gap:2px;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--cols), 1fr);
}
#chair .btn{
    grid-row-start: var(--row);
    grid-row-end: span 1;
    grid-column-start: var(--col);
    grid-column-end: span 1;
}
